<ion-view view-title="Login">
    <ion-content>
        <form ng-submit="login()" ng-if="!loginSubmitted">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="data.Username">
                </label>

                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="data.Password">
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Log in</button>
                </label>
            </div>
        </form>

        <div class="login-loading" ng-if="loginSubmitted">
            <div class="jumper"></div>
            <div class="jumper"></div>
            <div class="jumper"></div>
            <div class="jumper"></div>
        </div>
    </ion-content>
</ion-view>
